
Button {
    -fx-text-fill: white;
    -fx-font-family: "Dejavu Sans";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#ffcfb1, #d97b48);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

Button:hover {
    -fx-background-color: linear-gradient(#d97b48, #ffcfb1);
}
