
* {
    -fx-text-fill: #abb2c0;
    -fx-background-color: #272b33;
}

Button {
    -fx-text-fill: white;
    -fx-font-family: "Dejavu Sans";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#3f5d64, #2e3f42);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

Button:hover {
    -fx-background-color: linear-gradient(#2e3f42, #3f5d64);
}
