Hyperlink {
    -fx-underline: false;
}
Hyperlink:hover {
    -fx-underline: true;
}
Hyperlink:focused {
    -fx-border-color: null ;
    -fx-border-width: 0px;
}
Hyperlink:visited {
    -fx-text-fill: purple;
}

ScrollBar {
    -fx-unit-increment: 1000 ;
    -fx-block-increment: 1000 ;
}

.bar{
    -fx-padding: 0.25em;
    -fx-spacing: 0.5em;
}

.DetailView .cell {
    -fx-hgap: 0.75em;
    -fx-vgap: 0.125em;
    -fx-padding: 0.75em 2em 0.25em 2em;
}

.DetailView .cell.subKey,.cell.subValue {
    -fx-padding: 0.25em 2em 0.25em 2.5em;
}

.key {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #666666;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.subKey {
    -fx-font-style: italic;
}

#statusBar{
    -fx-padding: 0.35em;
}
